<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Add drugstore</title>
</head>
<body>

<div layout:fragment="content">

    <h2>Add drugstore</h2>

    <hr class="top">

    <div class="alert alert-success" th:if="${success}">
        <span th:text="${successMessage}"></span>
    </div>

    <div class="alert alert-danger" th:if="${success == false}">
        <span th:text="${errorMessage}"></span>
    </div>

    <form action="#" th:action="@{/drugstores/add}" th:object="${drugstoreModel}" method="post">

        <div class="form-group">
            <label for="drugstoreCity">City</label>
            <input type="text" class="form-control" th:field="*{city}" id="drugstoreCity"
                   placeholder="Enter drugstore's city">
        </div>

        <button type="submit" class="btn btn-primary btn-dark">Add</button>
    </form>

</div>


</body>
</html>