<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Add drugs - Drugstore</title>
</head>

<body>
<div layout:fragment="content">

    <h1>Add drug to drugstore</h1>

    <hr class="top">

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>NAME</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${allDrugs.empty}">

            <td colspan="2">
                <div class="fst-italic">
                    No drugs available to add
                </div>
            </td>

        </tr>

        <tr th:each="drug: ${allDrugs}">
            <td th:text="${drug.name}"></td>
            <td>
                <form th:action="@{'/drugstores/addDrugs'}" method="post">
                    <input type="hidden" name="id" th:value="${drugstore.id}"/>
                    <input type="hidden" name="drugID" th:value="${drug.id}"/>
                    <input type="submit" value="Add" class="btn btn-dark btn-sm"/>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>