<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Detail Drugstore</title>
</head>

<body>
<div layout:fragment="content">


    <h1>Drugstore details</h1>

    <hr class="top">

    <div class="alert alert-success" th:if="${success}">
        <span th:text="${successMessage}"></span>
    </div>

    <div class="alert alert-danger" th:if="${success == false}">
        <span th:text="${errorMessage}"></span>
    </div>

    <p><b>ID:</b> <span th:text="${drugstore.getId()}"></span></p>

    <p><b>City:</b> <span th:text="${drugstore.getCity()}"></span></p>

    <p><b>Drugs:</b></p>

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>NAME</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${drugstore.getDrugs().empty}">

            <td colspan="3">
                <div class="fst-italic">
                    No drugs in the drugstore
                </div>
            </td>

        </tr>

        <tr th:each="drug: ${drugstore.drugs}">
            <td th:text="${drug.name}"></td>
            <td><a th:href="@{'/drugs/detail?id='+${drug.id}}" class="btn btn-dark btn-sm" role="button">Detail</a></td>
            <td>
                <form th:action="@{'/drugstores/removeDrugs'}" method="post">
                    <input type="hidden" name="id" th:value="${drugstore.id}"/>
                    <input type="hidden" name="drugID" th:value="${drug.id}"/>
                    <input type="submit" value="Remove from drugstore" class="btn btn-danger btn-sm"/>
                </form>
            </td>
        </tr>

        <tr class="table-secondary">
            <td class="text-center" colspan="3">
                <form th:action="@{'/drugstores/addDrugs'}" method="get">
                    <input type="hidden" name="id" th:value="${drugstore.id}"/>
                    <input type="submit" value="Add drug" class="btn btn-dark"/>
                </form>
            </td>
        </tr>

        </tbody>
    </table>

    <br/>

    <hr class="bottom">

    <div class="d-flex justify-content-center align-items-center container ">
        <div class="row form-group">

            <form th:action="@{'/drugstores/edit/'}" method="get">
                <input type="hidden" name="id" th:value="${drugstore.getId()}"/>
                <input type="submit" value="Edit" class="btn btn-dark"/>
            </form>

        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center container ">
        <div class="row form-group">

            <form th:action="@{'/drugstores/delete/'}" method="post">
                <input type="hidden" name="id" th:value="${drugstore.getId()}"/>
                <input type="submit" value="Delete" class="btn btn-danger text-center"/>
            </form>

        </div>
    </div>

</div>
</body>
</html>