<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Drugstores</title>
</head>

<body>
<div layout:fragment="content">

    <h1>Drugstores</h1>

    <hr class="top">

    <table class="table table-bordered">

        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>CITY</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${drugstores.empty}">
            <td colspan="5">
                <div class="fst-italic">
                    No drugstores
                </div>
            </td>
        </tr>

        <tr th:each="drugstore: ${drugstores}">
            <td th:text="${drugstore.id}"></td>
            <td th:text="${drugstore.city}"></td>
            <td><a href="#" th:href="@{'/drugstores/detail?id=' + ${drugstore.getId()}}" class="btn btn-dark btn-sm" role="button">Detail</a></td>
            <td><a href="#" th:href="@{'/drugstores/edit?id=' + ${drugstore.getId()}}" class="btn btn-dark btn-sm" role="button">Edit</a></td>
            <td>
                <form th:action="@{'/drugstores/delete'}" method="post">
                    <input type="hidden" name="id" th:value="${drugstore.getId()}"/>
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm"/>
                </form>
            </td>
        </tr>

        <tr class="table-secondary">
            <td class="text-center" colspan="5">
                <form th:action="@{'/drugstores/add'}" method="get">
                    <input type="submit" value="Add drugstore" class="btn btn-dark"/>
                </form>
            </td>
        </tr>

        </tbody>
    </table>


</div>
</body>
</html>