<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Prescription - change user </title>
</head>

<body>
<div layout:fragment="content">

    <h1>Change user in prescription</h1>

    <hr class="top">

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>USERNAME</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${allUsers.empty}">

            <td colspan="2">
                <div class="fst-italic">
                    No users available
                </div>
            </td>

        </tr>

        <tr th:each="user: ${allUsers}">
            <td th:text="${user.username}"></td>
            <td>
                <form th:action="@{'/prescriptions/changeUser'}" method="post">
                    <input type="hidden" name="id" th:value="${prescription.id}"/>
                    <input type="hidden" name="userID" th:value="${user.id}"/>
                    <input type="submit" value="Select" class="btn btn-dark btn-sm"/>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>