<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Detail Prescription</title>
</head>

<body>
<div layout:fragment="content">

    <h1>Prescription details</h1>

    <hr class="top">

    <div class="alert alert-success" th:if="${success}">
        <span th:text="${successMessage}"></span>
    </div>

    <div class="alert alert-danger" th:if="${success == false}">
        <span th:text="${errorMessage}"></span>
    </div>

    <p><b>ID:</b> <span th:text="${prescription.id}"></span></p>

    <p><b>E-PRESCRIPTION CODE:</b> <span th:text="${prescription.getEPrescriptionCode()}"></span></p>

    <p><b>User:</b>

    <span th:if="${prescription.getUser() == null}" class="fst-italic">
        No user
    </span>

    <span th:if="${prescription.getUser() != null}" th:text="${prescription.getUser().getUsername()}"> </span>

    <p><b>Drugs:</b></p>

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${prescription.getDrugs().empty}">
            <td colspan="4">
                <div class="fst-italic">
                    No drugs in the prescription
                </div>
            </td>
        </tr>

        <tr th:each="drug: ${prescription.getDrugs()}">
            <td th:text="${drug.getName()}"></td>
            <td th:text="${drug.getDescription()}"></td>
            <td><a th:href="@{'/drugs/detail?id='+${drug.getId()}}" class="btn btn-dark btn-sm"
                   role="button">Detail</a></td>
            <td>
                <form th:action="@{'/prescriptions/removeDrugs'}" method="post">
                    <input type="hidden" name="id" th:value="${prescription.id}"/>
                    <input type="hidden" name="drugID" th:value="${drug.id}"/>
                    <input type="submit" value="Remove from prescription" class="btn btn-danger btn-sm"/>
                </form>
            </td>
        </tr>

        <tr class="table-secondary">
            <td class="text-center" colspan="4">
                <form th:action="@{'/prescriptions/addDrugs'}" method="get">
                    <input type="hidden" name="id" th:value="${prescription.id}"/>
                    <input type="submit" value="Add drug" class="btn btn-dark"/>
                </form>
            </td>
        </tr>

        </tbody>
    </table>


    <p><b>Drugstores where all prescribed drugs are available:</b></p>

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>CITY</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${drugstores.empty}">
            <td colspan="2">
                <div class="fst-italic">
                    All prescribed drugs are not available together in any drugstore
                </div>
            </td>
        </tr>

        <tr th:each="drugstore: ${drugstores}">
            <td th:text="${drugstore.city}"></td>
            <td><a th:href="@{'/drugstores/detail?id='+${drugstore.id}}" class="btn btn-dark btn-sm"
                   role="button">Detail</a></td>
        </tr>

        </tbody>
    </table>


    <hr class="bottom">


    <div class="d-flex justify-content-center align-items-center container ">
        <div class="row form-group">

            <form th:action="@{'/prescriptions/changeUser/'}" method="get">
                <input type="hidden" name="id" th:value="${prescription.getId()}"/>
                <input type="submit" value="Change user" class="btn btn-dark text-center"/>
            </form>

        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center container ">
        <div class="row form-group">

            <form th:action="@{'/prescriptions/removeUser/'}" method="post">
                <input type="hidden" name="id" th:value="${prescription.getId()}"/>
                <input type="submit" value="Remove user" class="btn btn-danger text-center"/>
            </form>

        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center container ">
        <div class="row form-group">

            <form th:action="@{'/prescriptions/delete/'}" method="post">
                <input type="hidden" name="id" th:value="${prescription.getId()}"/>
                <input type="submit" value="Delete" class="btn btn-danger text-center"/>
            </form>

        </div>
    </div>


</div>
</body>
</html>