<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Prescriptions</title>
</head>

<body>
<div layout:fragment="content">

    <h1>Prescriptions</h1>

    <hr class="top">

    <div class="alert alert-success" th:if="${success}">
        <span th:text="${successMessage}"></span>
    </div>

    <div class="alert alert-danger" th:if="${success == false}">
        <span th:text="${errorMessage}"></span>
    </div>

    <table class="table table-bordered">

        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>E-PRESCRIPTION UUID</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${prescriptions.empty}">
            <td colspan="5">
                <div class="fst-italic">
                    No prescriptions
                </div>
            </td>
        </tr>

        <tr th:each="prescription: ${prescriptions}">
            <td th:text="${prescription.id}"></td>
            <td th:text="${prescription.getEPrescriptionCode()}"></td>
            <td><a href="#" th:href="@{'/prescriptions/detail?id=' + ${prescription.getId()}}" class="btn btn-dark btn-sm" role="button">Detail</a></td>
            <td><a href="#" th:href="@{'/prescriptions/edit?id=' + ${prescription.getId()}}" class="btn btn-dark btn-sm" role="button">Edit</a></td>
            <td>
                <form th:action="@{'/prescriptions/delete'}" method="post">
                    <input type="hidden" name="id" th:value="${prescription.getId()}"/>
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm"/>
                </form>
            </td>

        </tr>

        <tr class="table-secondary">
            <td class="text-center" colspan="5">
                <form th:action="@{'/prescriptions/add'}" method="post">
                    <input type="submit" value="Add prescription" class="btn btn-dark"/>
                </form>
            </td>
        </tr>


        </tbody>

    </table>

</div>
</body>
</html>