<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Add drug</title>
</head>

<body>
<div layout:fragment="content">

    <h1>Add drug</h1>
    <hr class="top">

    <div class="alert alert-success" th:if="${success}">
        <span th:text="${successMessage}"></span>
    </div>

    <div class="alert alert-danger" th:if="${success == false}">
        <span th:text="${errorMessage}"></span>
    </div>


    <form th:action="@{/drugs/add}" th:object="${drugModel}" method="post">

        <div class="form-group">
            <label for="drugName">Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="drugName"
                   aria-describedby="drugHelp" placeholder="Enter drug's name">
            <small id="drugHelp" class="form-text text-muted">Name must be unique withing drugs</small>
        </div>

        <div class="form-group">
            <label for="drugDescription">Description</label>
            <input type="text" class="form-control" th:field="*{description}" id="drugDescription"
                   placeholder="Enter drug's description">
        </div>

        <button type="submit" class="btn btn-primary btn-dark">Add</button>
    </form>

</div>


</body>
</html>