<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Detail Drug</title>
</head>

<body>
<div layout:fragment="content">

    <h1>Drug details</h1>

    <hr class="top">

    <div class="alert alert-success" th:if="${success}">
        <span th:text="${successMessage}"></span>
    </div>

    <div class="alert alert-danger" th:if="${success == false}">
        <span th:text="${errorMessage}"></span>
    </div>

    <p><b>ID:</b> <span th:text="${drug.getId()}"></span></p>

    <p><b>Name:</b> <span th:text="${drug.getName()}"></span></p>

    <p><b>Description:</b> <span th:text="${drug.getDescription()}"></span></p>

    <p><b>Drugstores:</b></p>

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>CITY</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${drug.getDrugstores().empty}">
            <td colspan="2">
                <div class="fst-italic">
                    Drug isn't in any drugstore
                </div>
            </td>
        </tr>
        <tr th:each="drugstore: ${drug.getDrugstores()}">
            <td th:text="${drugstore.getCity()}"></td>
            <td><a th:href="@{'/drugstores/detail?id='+${drugstore.getId()}}" class="btn btn-dark btn-sm" role="button">Detail</a>
            </td>
        </tr>
        </tbody>
    </table>

    <p><b>Prescriptions:</b></p>

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>E-PRESCRIPTION</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${drug.getPrescriptions().empty}">
            <td colspan="2">
                <div class="fst-italic">
                    Drug isn't prescribed by any prescription
                </div>
            </td>
        </tr>
        <tr th:each="prescription: ${drug.getPrescriptions()}">
            <td th:text="${prescription.getEPrescriptionCode()}"></td>
            <td><a th:href="@{'/prescriptions/detail?id=' + ${prescription.getId()}}" class="btn btn-dark btn-sm"
                   role="button">Detail</a></td>
        </tr>
        </tbody>
    </table>

    <hr class="bottom">

    <div class="d-flex justify-content-center align-items-center container ">
        <div class="row form-group">

            <form th:action="@{'/drugs/edit/'}" method="get">
                <input type="hidden" name="id" th:value="${drug.getId()}"/>
                <input type="submit" value="Edit" class="btn btn-dark"/>
            </form>

        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center container ">
        <div class="row form-group">

            <form th:action="@{'/drugs/delete/'}" method="post">
                <input type="hidden" name="id" th:value="${drug.getId()}"/>
                <input type="submit" value="Delete" class="btn btn-danger text-center"/>
            </form>

        </div>
    </div>

</div>
</body>
</html>