<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Drugs</title>
</head>

<body>
<div layout:fragment="content">

    <h1>Drugs</h1>

    <hr class="top">

    <table class="table table-bordered">

        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${drugs.empty}">
            <td colspan="6">
                <div class="fst-italic">
                    No drugs
                </div>
            </td>
        </tr>

        <tr th:each="drug: ${drugs}">
            <td th:text="${drug.id}"></td>
            <td th:text="${drug.name}"></td>
            <td th:text="${drug.description}"></td>
            <td><a th:href="@{'/drugs/detail?id=' + ${drug.getId()}}" class="btn btn-dark btn-sm"
                   role="button">Detail</a></td>
            <td><a th:href="@{'/drugs/edit?id=' + ${drug.getId()}}" class="btn btn-dark btn-sm" role="button">Edit</a></td>
            <td>
                <form th:action="@{'/drugs/delete'}" method="post">
                    <input type="hidden" name="id" th:value="${drug.getId()}"/>
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm"/>
                </form>
            </td>
        </tr>

        <tr class="table-secondary">
            <td class="text-center" colspan="6">
                <form th:action="@{'/drugs/add'}" method="get">
                    <input type="submit" value="Add drug" class="btn btn-dark"/>
                </form>
            </td>
        </tr>


        </tbody>
    </table>

</div>
</body>
</html>