<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>

<body>
<div layout:fragment="content">
    <h2>Add user</h2>

    <hr class="top">

    <div class="alert alert-success" th:if="${success}">
        <span th:text="${successMessage}"></span>
    </div>

    <div class="alert alert-danger" th:if="${success == false}">
        <span th:text="${errorMessage}"></span>
    </div>

    <form action="#" th:action="@{/users/add}" th:object="${userModel}" method="post">

        <div class="form-group">
            <label for="userUsername">Username</label>
            <input type="text" class="form-control" th:field="*{username}" id="userUsername"
                   placeholder="Enter user's username">
        </div>

        <button type="submit" class="btn btn-primary btn-dark">Add</button>
    </form>

</div>
</body>
</html>