<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Detail User</title>
</head>

<body>
<div layout:fragment="content">

    <h1>User details</h1>

    <hr class="top">

    <div class="alert alert-success" th:if="${success}">
        <span th:text="${successMessage}"></span>
    </div>

    <div class="alert alert-danger" th:if="${success == false}">
        <span th:text="${errorMessage}"></span>
    </div>

    <p><b>ID:</b> <span th:text="${user.getId()}"></span></p>

    <p><b>Username:</b> <span th:text="${user.getUsername()}"></span></p>

    <p><b>Prescriptions:</b></p>

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>E-PRESCRIPTION CODE</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${user.getPrescriptions().empty}">
            <td colspan="3">
                <div class="fst-italic">
                    User has no prescriptions
                </div>
            </td>
        </tr>
        <tr th:each="prescription: ${user.getPrescriptions()}">
            <td th:text="${prescription.getEPrescriptionCode()}"></td>
            <td><a th:href="@{'/prescriptions/detail?id='+${prescription.getId()}}" class="btn btn-dark btn-sm" role="button">Detail</a></td>

            <td>
                <form th:action="@{'/users/removePrescription'}" method="post">
                    <input type="hidden" name="id" th:value="${user.id}"/>
                    <input type="hidden" name="prescriptionID" th:value="${prescription.id}"/>
                    <input type="submit" value="Remove from user" class="btn btn-danger btn-sm"/>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

    <hr class="bottom">

    <div class="d-flex justify-content-center align-items-center container ">
        <div class="row form-group">

            <form th:action="@{'/users/edit/'}" method="get">
                <input type="hidden" name="id" th:value="${user.getId()}"/>
                <input type="submit" value="Edit" class="btn btn-dark"/>
            </form>

        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center container ">
        <div class="row form-group">

            <form th:action="@{'/users/delete/'}" method="post">
                <input type="hidden" name="id" th:value="${user.getId()}"/>
                <input type="submit" value="Delete" class="btn btn-danger text-center"/>
            </form>

        </div>
    </div>


</div>
</body>
</html>