<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Users</title>
</head>

<body>
<div layout:fragment="content">

    <h1>Users</h1>

    <hr class="top">

    <table class="table table-bordered">

        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>USERNAME</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="5">
                <div class="fst-italic">
                    No users
                </div>
            </td>
        </tr>

        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td><a href="#" th:href="@{'/users/detail?id=' + ${user.getId()}}" class="btn btn-dark btn-sm" role="button">Detail</a></td>
            <td><a href="#" th:href="@{'/users/edit?id=' + ${user.getId()}}" class="btn btn-dark btn-sm" role="button">Edit</a></td>
            <td>
                <form th:action="@{'/users/delete'}" method="post">
                    <input type="hidden" name="id" th:value="${user.getId()}"/>
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm"/>
                </form>
            </td>

        </tr>

        <tr class="table-secondary">
            <td class="text-center" colspan="5">
                <form th:action="@{'/users/add'}" method="get">
                    <input type="submit" value="Add user" class="btn btn-dark"/>
                </form>
            </td>
        </tr>

        </tbody>

    </table>

</div>
</body>
</html>