.back_ref_link {
    text-align: center;
}

hr.top {
    border: 3px solid gray;
}

hr.bottom {
    border: 1px solid gray;
}

.form-group {
    margin-bottom: 15px;
}

.blank_row
{
    height: 20px !important;
}

